xsd/bufdir.barnevern.henvisning.senterforeldrebarn.v1.2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns="https://bufdir.no/barnevern.henvisning.senterforeldrebarn.v1.2.0" 
	targetNamespace="https://bufdir.no/barnevern.henvisning.senterforeldrebarn.v1.2.0" 
	xmlns:bg="https://bufdir.no/generelt.v1.0.1" 
	xmlns:bv="https://bufdir.no/barnevern.generelt.v1.2.0" 
	xmlns:henv="https://bufdir.no/barnevern.henvisning.v1.2.0" 
	xmlns:mld="https://bufdir.no/melding.v1.0.2" 
	elementFormDefault="qualified" 
	version="1.2.0">

	<xs:import namespace="https://bufdir.no/barnevern.henvisning.v1.2.0" schemaLocation="bufdir.barnevern.henvisning.v1.2.0.xsd"/>
	<xs:import namespace="https://bufdir.no/barnevern.generelt.v1.2.0" schemaLocation="bufdir.barnevern.generelt.v1.2.0.xsd"/>
	<xs:import namespace="https://bufdir.no/generelt.v1.0.1" schemaLocation="bufdir.generelt.v1.0.1.xsd"/>

	<xs:complexType name="HenvisningSenterForeldreBarnVedtakType" id="BUF_C3D0D6C8-491A-416C-B071-7FADFE2CA583">
		<xs:complexContent>
			<xs:extension base="bv:VedtakOmsorgType">
				<xs:sequence>
					<xs:element name="Lovhjemmel" type="henv:HenvisningLovparagrafSenterForeldreBarnType" id="BUF_BECF5D6A-603E-4740-BDFC-8F7439D23C3B">
						<xs:annotation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>


	<xs:complexType name="HenvisningSenterForeldreBarnType" id="BUF_36AE5CFF-480D-4561-93F1-A26EB2A2DF5A">
		<xs:complexContent>
			<xs:extension base="henv:HenvisningMeldingBaseType">
				<xs:sequence>
					<xs:element name="Klient" type="bv:KlientBarnevernMedUfodtOgEMAType" id="BUF_7B136C2C-6B64-4712-8952-5B9E0A618603"/>
					<xs:element name="ForespurtBistand" type="HenvisningForespurtBistandSenterForeldreBarnType" id="BUF_D0C99B6F-C1BF-491B-82CB-0A596D865C34"/>
					<xs:element name="Vedtak" type="HenvisningSenterForeldreBarnVedtakType" id="BUF_DBE27CA3-8762-4AB7-9D85-17FC5415B0D8"/>
  					<xs:element name="Bistandsperiode" type="henv:OnsketBistandsPeriodeType" id="BUF_B3FA7714-E438-4739-B288-2C0BA6FC2F59"/>
					<xs:element name="SoskenSamplassering" type="henv:BarnetsSoskenSamplasseringType" minOccurs="0" id="BUF_13699B3A-F193-4E18-B606-60B8739A0520" />
					<xs:element name="YtterligereBistand" type="henv:YtterligereBistandType" id="BUF_B2DF73D3-AEF7-40C9-9385-6A5D97A535A9" />
					<xs:element name="BistandArena" type="henv:HenvisningBistandArenaType" id="BUF_AF0AEF56-E83A-4C0C-B968-FB137CB5621C"/>
					<xs:element name="BarnTilleggTilHenvist" type="bg:Enlinje" id="BUF_692E8D9E-BA41-4383-8A1E-C496361BCE20"/>
					<xs:element name="PlanEtterOnsketTiltak" type="henv:PlanEtterOnsketTiltakType" minOccurs="0" maxOccurs="1" id="BUF_CC17878B-D89D-40AA-AA43-A94D94141ACA">
						<xs:annotation>
							<xs:appinfo>
								<enable>ForespurtBistand!=5</enable>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="PlanForTiltaket" type="bv:KommunensPlanForTiltaketType" id="BUF_E112D04D-B1E9-4324-8308-5AFE7CB01C4D"/>
					<xs:element name="IndividuellPlan" type="bv:IndividuellPlanType" minOccurs="1" id="BUF_3F888520-7A2D-4BFD-8C77-62ED8F4888CB"/>
					<xs:element name="TiltakHistorikk" type="bg:Fritekst" minOccurs="0" id="BUF_CF961F26-2624-4DFB-BF7D-BADEB828C7F8"/>
					<xs:element name="Dagtilbud" type="bv:DagtilbudType" id="BUF_C4B6EEC5-231D-4F78-BCAD-49CD094381C0"/>
					<xs:element name="ForeldreOgOmsorgspersoner" type="henv:BarnetsOmsorgspersonerMedFnrType" minOccurs="0"  id="BUF_04CC35D8-162F-4337-B442-3A38FD0228F2"/>
					<xs:element name="MedvirkningOgInvolvering" type="henv:MedvirkningOgInvolveringType" id="BUF_3E4F89B4-239C-4756-9418-5F22168240D5"/>
					<xs:element name="BarnetsBehovOgSituasjon" type="bv:KunnskapsmodellBarnetsSituasjonOgBehovType" id="BUF_CC9A7CDF-B998-415D-995A-6275CBCCA465" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>
	
	<xs:simpleType name="HenvisningForespurtBistandSenterForeldreBarnType" id="BUF_CA1144F5-4497-472A-B6D6-BE1F1D60C6CB">
		<xs:annotation>
			<xs:documentation>
			    Subset av HenvisningForespurtBistandType:
				5 = Senter for foreldre og barn - Utredning
				6 = Senter for foreldre og barn - Hjelpetiltak
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="henv:HenvisningForespurtBistandType">
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
		</xs:restriction>
	</xs:simpleType>
	

	
<!-- Element-definisjon -->	

	<xs:element name="Henvisning" type="HenvisningSenterForeldreBarnType" id="BUF_F995902D-B62F-4A50-9CF4-82A70C71AEA7">
		<xs:annotation>
			<xs:appinfo>
				<MeldingsForbindelse>Ny|Oppdatering</MeldingsForbindelse>
				<AvsenderType>1.Linje</AvsenderType>
				<MottakerType>2.Linje</MottakerType>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	
</xs:schema>