xsd/bufdir.barnevern.henvisning.hjelpetiltak.v1.2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns="https://bufdir.no/barnevern.henvisning.hjelpetiltak.v1.2.0" 
	targetNamespace="https://bufdir.no/barnevern.henvisning.hjelpetiltak.v1.2.0" 
	xmlns:bv="https://bufdir.no/barnevern.generelt.v1.2.0" 
	xmlns:bg="https://bufdir.no/generelt.v1.0.1"  
	xmlns:henv="https://bufdir.no/barnevern.henvisning.v1.2.0" 
	xmlns:mld="https://bufdir.no/melding.v1.0.2" 
	elementFormDefault="qualified" 
	version="1.2.0">

	<xs:import namespace="https://bufdir.no/barnevern.henvisning.v1.2.0" schemaLocation="bufdir.barnevern.henvisning.v1.2.0.xsd"/>
	<xs:import namespace="https://bufdir.no/barnevern.generelt.v1.2.0" schemaLocation="bufdir.barnevern.generelt.v1.2.0.xsd"/>
	<xs:import namespace="https://bufdir.no/generelt.v1.0.1" schemaLocation="bufdir.generelt.v1.0.1.xsd"/>

	<xs:complexType name="HenvisningHjelpetiltakVedtakType" id="BUF_6E4298F8-CF9B-4F80-B191-55998EA0630C">
		<xs:complexContent>
			<xs:extension base="bv:VedtakOmsorgType">
				<xs:sequence>
					<xs:element name="Lovhjemmel" type="henv:HenvisningLovparagrafHjelpetiltakType" id="BUF_FD18503F-5EA6-4440-91B4-3CAD05E23604">
						<xs:annotation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>


	<xs:complexType name="HenvisningHjelpetiltakType" id="BUF_96CC681F-D4BE-4B8E-948E-750585C22787">
		<xs:complexContent>
			<xs:extension base="henv:HenvisningMeldingBaseType">
				<xs:sequence>
					<xs:element name="Klient" type="bv:KlientBarnevernType" id="BUF_C3A4819F-AE5C-4576-BCD6-E0BA34C3B93B"/>
					<xs:element name="ForespurtBistand" type="henv:HenvisningForespurtBistandHjelpetiltakType" id="BUF_37219AF9-C0A7-4680-9B3D-C6C3E1A1F0B3"/>
  					<xs:element name="Bistandsperiode" type="henv:OnsketBistandsPeriodeType" id="BUF_B3FA7714-E438-4739-B288-2C0BA6FC2F59"/>
					<xs:element name="SoskenSamplassering" type="henv:BarnetsSoskenSamplasseringType" minOccurs="0" id="BUF_13699B3A-F193-4E18-B606-60B8739A0520" />
					<xs:element name="Vedtak" type="HenvisningHjelpetiltakVedtakType" id="BUF_67F437FA-D61A-4FAA-BA1C-A703F620AED9"/>
					<xs:element name="YtterligereBistand" type="henv:YtterligereBistandType" id="BUF_B2DF73D3-AEF7-40C9-9385-6A5D97A535A9" />
					<xs:element name="PlanEtterOnsketTiltak" type="henv:PlanEtterOnsketTiltakType" minOccurs="1" maxOccurs="1" id="BUF_CC17878B-D89D-40AA-AA43-A94D94141ACA" />
					<xs:element name="TiltakHistorikk" type="bg:Fritekst" minOccurs="0" id="BUF_CF961F26-2624-4DFB-BF7D-BADEB828C7F8"/>
					<xs:element name="Dagtilbud" type="bv:DagtilbudType" id="BUF_C4B6EEC5-231D-4F78-BCAD-49CD094381C0"/>
					<xs:element name="MedvirkningOgInvolvering" type="henv:MedvirkningOgInvolveringType" id="BUF_3E4F89B4-239C-4756-9418-5F22168240D5"/>
					<xs:element name="ForeldreOgOmsorgspersoner" type="henv:BarnetsOmsorgspersonerMedFnrType" minOccurs="0" id="BUF_04CC35D8-162F-4337-B442-3A38FD0228F2"/>
					<xs:element name="BarnetsBehovOgSituasjon" type="bv:KunnskapsmodellBarnetsSituasjonOgBehovType" id="BUF_CC9A7CDF-B998-415D-995A-6275CBCCA465" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>	
	</xs:complexType>
	
<!-- Element-definisjon -->	

	<xs:element name="Henvisning" type="HenvisningHjelpetiltakType" id="BUF_98866B9A-00BA-4502-912A-E6A0517011D1">
		<xs:annotation>
			<xs:appinfo>
				<MeldingsForbindelse>Ny|Oppdatering</MeldingsForbindelse>
				<AvsenderType>1.Linje</AvsenderType>
				<MottakerType>2.Linje</MottakerType>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	
</xs:schema>